/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/widgets/EventList/ui/EventList.module.scss ***!
  \*************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap);
/*!*****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/widgets/EventList/ui/EventList.module.scss (1) ***!
  \*****************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap);
/*!*****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/widgets/EventList/ui/EventList.module.scss (2) ***!
  \*****************************************************************************************************************************************************************************************************/
.text--button--nA6BC, .button--color--aolFY, .button--white--zRf5T {
  font-family: "Source Sans Pro" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: -0.7px !important;
  text-transform: none !important;
  line-height: 14px !important;
}

.text--VkEpu, [class*=text], .text--base--E1YgD {
  font-family: "Source Sans Pro" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: -0.2px !important;
}

.text__small--qbWEc {
  font-family: "Source Sans Pro" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 12px !important;
  letter-spacing: -0.2px !important;
}

.text__small__bold--uwQra {
  font-family: "Source Sans Pro" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 12px !important;
  letter-spacing: -0.2px !important;
}

.text__bold--FurTg {
  font-family: "Source Sans Pro" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: -0.2px !important;
}

.text__big--FwDoM, .text__link--ufZeH {
  font-family: "Source Sans Pro" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
}

.text--large--rm6en {
  font-family: "Source Sans Pro" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: -0.4px;
  color: rgb(37, 40, 45);
  /* Gray/100 */
}

.text__link--ufZeH {
  color: rgb(46, 121, 234) !important;
  cursor: pointer;
  text-decoration-line: underline;
}

.button--white--zRf5T {
  color: rgb(37, 40, 45) !important;
}

.button--color--aolFY {
  color: rgb(255, 255, 255) !important;
}

.text--base--E1YgD {
  color: rgb(69, 74, 84) !important;
}

[class*=error] {
  color: rgb(224, 70, 70) !important;
}

[class*=selected] {
  color: rgb(37, 40, 45) !important;
}

[class*=field-group] {
  font-weight: 600 !important;
  color: rgb(37, 40, 45) !important;
}

.calling__page__wrapper--Msrfp {
  font-size: xx-small !important;
  color: rgb(123, 120, 120) !important;
}

tfoot,
th,
thead,
tr {
  font-size: small !important;
  color: rgb(143, 156, 169) !important;
}

tbody,
td {
  font-size: small !important;
  color: rgb(52, 57, 67) !important;
}

.badge--K9tf5,
.badge__success--wMSwk,
.badge__warning--SiOCZ,
.badge__successActive--eVwK9,
.badge__warningActive--JZdKY {
  padding: 5px;
  border-radius: 9px;
  width: 120px !important;
  height: 22px !important;
  font-family: "Source Sans Pro" !important;
  font-style: normal !important;
  font-weight: 200 !important;
  font-size: 12px !important;
  line-height: 12px !important;
  letter-spacing: -0.2px !important;
  color: white;
}

.badge__success--wMSwk,
.badge__result--yoX5u {
  background-color: white !important;
  border: 1px solid rgb(14, 201, 111) !important;
  color: grey !important;
}

.badge__successActive--eVwK9 {
  background-color: rgb(14, 201, 111) !important;
}

.badge__warning--SiOCZ {
  background-color: white !important;
  border: 1px solid rgb(255, 113, 33) !important;
  color: grey !important;
}

.badge__warningActive--JZdKY {
  background-color: rgb(255, 113, 33);
}

.badge__star--edm7S,
.badge__error--hs6K7,
.badge__errActive--YMdyG,
.badge__blue--Tg9aN,
.badge__star--edm7S,
.badge__starActive--qyX_C,
.badge__cancel--ej40p,
.badge__tolong--w2Sue {
  cursor: pointer;
  min-width: 60px !important;
  height: 19px !important;
  border-radius: 17px !important;
  font-size: 12px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row;
}

.actionsCell--vokrV {
  height: 30px !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-direction: row;
}

.badge__error--hs6K7 {
  color: rgb(231, 53, 74) !important;
  border: 1px solid rgb(231, 53, 74) !important;
}

.badge__error--hs6K7:hover {
  background-color: rgb(231, 53, 74) !important;
  color: white !important;
}

.badge__errActive--YMdyG,
.badge__errActive--YMdyG:hover,
.badge__tolong--w2Sue:hover {
  background-color: rgb(255, 113, 33) !important;
  color: white !important;
}

.badge__tolong--w2Sue {
  color: rgb(255, 113, 33) !important;
  border: 1px solid rgb(255, 113, 33) !important;
}

.badge__blue--Tg9aN {
  background-color: rgb(59, 200, 245);
}

.badge__star--edm7S {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(96, 113, 124) !important;
  border: 1px solid rgb(59, 200, 245) !important;
}

.badge__starActive--qyX_C,
.badge__star--edm7S:hover {
  background-color: rgb(59, 200, 245) !important;
  color: white !important;
}

.badge__cancel--ej40p {
  background-color: rgba(71, 71, 73, 0.929) !important;
  color: rgb(255, 255, 255) !important;
}

.statusSuccess--fV_S8,
.statusExpired--n0INM,
.statusWarning--v0Krc {
  font-weight: 600 !important;
  font-size: 11px !important;
}

.statusSuccess--fV_S8 {
  color: rgb(14, 201, 111) !important;
}

.statusExpired--n0INM {
  color: rgb(255, 113, 33) !important;
}

.statusWarning--v0Krc {
  color: rgb(231, 53, 74) !important;
}
/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/shared/ui/Logo/Logo.module.scss ***!
  \**************************************************************************************************************************************************************************************/
.logo--NpPh8 {
  display: block;
  height: 91%;
  width: 91%;
  border-radius: 17%;
  background-color: none;
}
